/* 전체 페이지 기본 스타일 */
.page-error-body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* 컨테이너 전체를 중앙 정렬 */
.page-error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 내부 래퍼 */
.page-error-wrap {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    margin-bottom: 50px;
}

/* 이미지 영역 */
.page-error-img img {
    width: 112px;
    margin-bottom: 4px;
}

/* 제목 */
.page-error-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 28px;
    color: #4A5677;
}

/* 설명 */
.page-error-desc p {
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}

/* 버튼 스타일 */
.page-error-btn-wrap {
    margin-top: 30px;
}

.page-error-btn-wrap a {
    display: inline-block;
    padding: 10px 24px;
    font-size: 14px;
    border: 1px solid #4A5677;
    border-radius: 0px; /* 모서리 둥글게 */
    text-decoration: none;
    background: #fff;
    color: #4A5677; /* 글씨색 */
    transition: all 0.3s ease;
}

.page-error-btn-wrap a:hover {
    /*background-color: #333;*/
    color: #000;
    border: 1px solid #000;
}

/* 아이콘 스타일 (있다면) */
.icon.is-go {
    margin-left: 5px;
}